{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Welcome!{% endblock %}

{% block body %}   
    <div class="container">       
        <h1>Créer un nouvel agent</h1>        
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}        
        {{ form_end(form) }}
    </div> 
{% endblock %}


{% block javascripts %}


{% endblock %}
    

