{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block title %}Welcome!{% endblock %}

{% block body %}   
    <div class="container">       
        <h1>Modifier l'agent</h1>
        <form action="{{ path('editAgent', { 'id': agent.id }) }}" method="post">
            <div class="form-group mb-2">                
            {{ form_start(form) }}
            {{ form_row(form.name, {'label': 'Nom'}) }}
            {{ form_row(form.firstname, {'label': 'Prénom'}) }}
            {{ form_row(form.email, {'label': 'Email'}) }}            
            {{ form_row(form.function, {'label': "Fonction"}) }}
            {{ form_row(form.nni, {'label': "Nni"}) }}
            {{ form_row(form.username, {'label': "Nom d'utilisateur"}) }}
            {{ form_row(form.plainPassword, {'label': "Mot de passe"}) }}
            {{ form_row(form.Team, {'label': "Equipe"}) }}
            {{ form_row(form.roles, {'label': "Roles"}) }}            
            {{ form_rest(form) }}
            {{ form_end(form) }}
            </div            
        </form>
    </div> 
{% endblock %}


{% block javascripts %}
{% endblock %}
    

