<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">               
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link href="/assets/css/datepicker.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %} {% endblock %}
    </head>
    <body>       
        <div class="container">
            <div class="row d-flex align-items-end justify-content-between mt-5">
                <div class="mb-4">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('/assets/images/EDF-logo.png') }}" width="auto" height="100px"  alt="">						
                    </a>  
                </div>
                <div>
                    <h1 class="title-EDF text-center">PRHAT</h1>
                    <p class="text-center text-blue-edf">Le planning des agents en arrêt de tranche</p>
                    <p></p>
                </div>
                <div>
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('/assets/images/logo-site-Saint-Alban.jpg') }}" width="auto" height="100px" alt="">						
                    </a> 
                </div>
            </div>
            <div class="row align-items-end justify-content-between py-2 rounded" style="background-color: #09357A; min-height: 100px;">
                <span class="ml-5 text-white">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ app.user.firstname|capitalize }} {{ app.user.username|upper }}
                        {% if  app.user.team %}  | Equipe :  {{   app.user.team.name|upper }}{% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            | Rôle : ADMINISTRATEUR  |
                        {% elseif is_granted('ROLE_VALIDEUR') %}
                            | Rôle :  VALIDEUR |
                        {% else %}
                            | Rôle : AGENT |
                        {% endif %}
                    {% endif %}
                    {% if (user_management.countWaitedValidation( app.user)) %}
                        <a class=" ml-2 px-2" href="{{ path('showAgendaTeam') }}"> <span class="text-white"><strong>Agendas en attente de validation : </strong></span><span class="badge badge-danger">{{ user_management.countWaitedValidation( app.user) }}</span> </a>
                    {% endif %}
                </span>
                <span class="mr-2 text-white">
                    {% if  app.user %}
                        <a class="btn redEDf mx-1" href="{{ path('logout') }}" role="button">Déconnexion <i class="fas fa-sign-out-alt"></i></a>
                    {% else %}
                        <a class="btn greenEDf mx-1" href="{{ path('login') }}" role="button"> Connexion <i class="fas fa-sign-in-alt"></i></a>
                    {% endif %}                    
                </span>
                
            </div>        
            <div class="row bg-menu shadow-lg">
                <nav class="navbar navbar-expand-lg navbar-light" >               
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav align-items-center justify-content-end">                         
                            <li class="nav-item ">
                                <a href="{{ path('home') }}">
                                    <i class="fas fa-home fa-1x text-color-blue"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('showAgenda') }}">Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('showrule') }}">Règles</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="{{ path('showagent') }}">Agents</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('showteam') }}">Equipes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('showletter') }}">Codes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('showSection') }}">Section</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('ShowService') }}">Service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('showEvent') }}">Arrêt</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('doc') }}">Doc</a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- flash bag --> 
            <div class = "row my-3">
                <div class ="col-md-12 ">
                 {% for label, messages in app.flashes %}
                     {% for message in messages %}
                         <div class="alert alert-{{ label }}">
                             {{ message }}
                         </div>
                     {% endfor %}
                 {% endfor %}
                </div>
            </div>                
            {% block body %}
            {% endblock %}            
        </div>    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>        
        {% block javascripts %}{% endblock %}        
    </body>
</html>
