{% extends 'base.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block title %} Saisir une date {% endblock %}

{% block body %}
    <header class="text-center py-3">
            <h1 class="bg-white-semi_transparent"><em class="text-dark">Bienvenue sur </em>admin Planning</h1>
            <p>Espace réservée aux administrateurs du site</p>            
    </header>
    <div class="my-2">
        <div class="container homeCards">
            <div class= "row text-center">
                <div class="card-columns">
                    <div class="card">                      
                      <div class="card-body">
                        <h5 class="card-title">Droits et roles</h5>
                        <p class="card-text">Modifier les droits et rôles sur le planning</p>
                        <a href="{{ path('showrole')}}" class="btn btn-primary">Visualiser</a>
                      </div>
                     
                    </div>
                    <div class="card">                      
                      <div class="card-body">
                        <h5 class="card-title">Evènement</h5>
                        <p class="card-text">Vacances scolaires, arrêts de tranche, Copat, RCD</p>
                        <a href="{{ path('showEvent')}}" class="btn btn-primary">Visualiser</a>
                      </div>
                      
                    </div>
                    <div class="card">                      
                      <div class="card-body">
                        <h5 class="card-title">Codes planning</h5>
                        <p class="card-text">Ajouter/modifier un lettre. Changer une amplitude horaire</p>
                        <a href="{{ path('showletter')}}" class="btn btn-primary">Visualiser</a>
                      </div>                      
                    </div>
                      
                    <div class="card">                      
                      <div class="card-body">
                        <h5 class="card-title">Reglementation</h5>
                        <p class="card-text">Ajouter/modifier les contrainte reglementaires</p>
                        <a href="{{ path('showrule')}}" class="btn btn-primary">Visualiser</a>
                      </div>                      
                    </div>
                      
                    <div class="card">                      
                        <div class="card-body">
                          <h5 class="card-title">Equipe</h5>
                          <p class="card-text">Ajouter/modifier les équipes</p>
                          <a href="{{ path('showteam')}}" class="btn btn-primary">Visualiser</a>
                        </div>
                    </div>
                    <div class="card">                      
                        <div class="card-body">
                          <h5 class="card-title">Section</h5>
                          <p class="card-text">Ajouter/modifier la section</p>
                          <a href="{{ path('showSection')}}" class="btn btn-primary">Visualiser</a>
                        </div>
                    </div>
                    <div class="card">                      
                        <div class="card-body">
                          <h5 class="card-title">Service</h5>
                          <p class="card-text">Ajouter/modifier le service</p>
                          <a href="{{ path('ShowService')}}" class="btn btn-primary">Visualiser</a>
                        </div>
                    </div>
                    <div class="card">                      
                        <div class="card-body">
                          <h5 class="card-title">Historique des modifications</h5>
                          <p class="card-text">Consulter/imprimer l'historique des modifications</p>
                          <a href="{{ path('historique')}}" class="btn btn-primary">Visualiser</a>
                        </div>
                    </div>  
            </div>
        </div>
    </div> 

{% endblock %}
