
{% extends 'base.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block title %} Codes planning {% endblock %}

{% block body %}
     <header class="text-center py-3">
            <h1 class="bg-white-semi_transparent"><em class="text-dark">Codes </em>Planning</h1>
            <p>Horaires remontés pour 2019</p>           
            
    </header>
    
    <div class="">
        <div class="container bg-light homeCards">
            <div class="row">
                <div class="col-md-1 offset-1">
                    <span class="fa-stack fa-1x my-2">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <a href="{{ path('home') }}"><i class="fas fa-print fa-stack-1x fa-inverse"></i></a>                    
                    </span>                    
                </div>                
            </div>
            <div class="row">
                <div class="col-md-10 offset-1">                    
                     <div class="col-12">
                    <table class="table table-hover table-sm vertical-align">                        
                        <thead>
                            <tr class="text-center">
                                <th class ="col-md-1 align-middle"><i class="fa fa-sort float-right" aria-hidden="true"> </i><a href="{{ path('home') }}"><i class="fas fa-plus float-left"></i></a></th>                                
                                <th class ="col-md-1 align-middle">Codes planning</th>
                                <th class ="col-md-2 align-middle">Amplitude</th>
                                <th class ="col-md-1 align-middle">Pause programmée GTA</th>
                                <th class ="col-md-1 align-middle">Durée payée</th>
                                <th class ="col-md-1 align-middle">Durée effective</th>
                                <th class ="col-md-1 align-middle">Durée/jour du poste</th>
                                <th class ="col-md-1 align-middle">Durée / lendemain</th>
                                <th class ="col-md-1 align-middle">Collège</th>
                                <th class ="col-md-1 align-middle"></th>
                                <th class ="col-md-1 align-middle"></th>
                                
                            </tr>                           
                            
                        </thead>                        
                        <tbody>
                            <tr class="text-center">
                                <td class="align-middle"></td>
                                <td class="align-middle">L</td>
                                <td class="align-middle">4h15 - 13h30</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">9 1/4</td>
                                <td class="align-middle">9</td>
                                <td class="align-middle">9 1/4</td>
                                <td class="align-middle">0</td>
                                <td class="align-middle">M/C</td>
                                
                                <td><a href="{{ path('home') }}"><i class="fas fa-edit"></i></a></td>
                                <td><a href="{{ path('home') }}"><i class="fas fa-trash-alt"></i></a</td>
                            </tr>
                            <tr class="text-center">
                                <td class="align-middle"></td>
                                <td class="align-middle">M</td>
                                <td class="align-middle">5h00 - 13h00</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">8</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">8</td>
                                <td class="align-middle">0</td>
                                <td class="align-middle">M/C</td>
                                <td class="align-middle"><a href="{{ path('home') }}"><i class="fas fa-edit"></i></a></td>
                                <td class="align-middle"><a href="{{ path('home') }}"><i class="fas fa-trash-alt"></i></a</td>
                            </tr>
                        </tbody>
                    </table>                            
                </div>
            </div>
        </div>                    
    </div>
    
{% endblock %}