    {% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/sl-1.2.6/datatables.min.css"/>
{% endblock %}
{% block title %}Agenda Brouillon{% endblock %}
{% block body %}    
<div class="container">
    <header class="text-center py-3">
        <h1 class="bg-white-semi_transparent">AGENDA EN ATTENTE DE VALIDATION </h1>
        <p>Modifier votre planning ou celui de vos équipes</p>
    </header>
    <hr>      
    <div class="bg-white my-3">
        <span class ="d-flex align-items-center justify-content-between">
            <span>                
                {% if agent %}
                <a class="btn btn-outline-dark" href="{{ path('showPreviousAgendaTemp', {'agent_Id': agent.id, 'previousDate': startDate|date("Y-m-d")}) }}">                                        
                    <span><i class="fas fa-step-backward"></i></span> -15 j <span> </span>
                </a>
                <a class="btn btn-outline-dark" href="{{ path('showNextAgendaTemp', {'agent_Id': agent.id, 'nextDate': endDate|date("Y-m-d")}) }}">                                        
                    <span><i class="fas fa-step-forward"></i></span>+ 15 J <span> </span>
                </a>
                {% endif %}
            </span>                    
            <span id="buttonPrint">
            </span>
        </span>
    </div>
</div>
            
            
<div class="container">            
    <div class= "row">
        <div class="col-md-12">
            <table id="example" class="table table-striped table-hover table-sm shadow-lg" style="width:100%">
                <caption class="text-center">Agenda brouillon de {{ agent.firstname }} {{ agent.name }} du {{ startDate|localizeddate('none', 'none', 'fr', null, 'EE d MMMM y')}} au  {{ endDate|localizeddate('none', 'none', 'fr', null, ' E d MMMM y')}}</caption>
                <thead class="thead">
                    <tr class="bg-muted">                        
                        <th scope ="col" colspan="7" class="text-success">Vacances scolaires</th>                       
                        {% for holiday in holidays %}
                        <th scope ="col"
                                {% if holiday%}
                            class="bg-success border border-light">
                            {% else %}
                                class="text-light">
                            {% endif %}
                            {% endfor %}
                        </th>
                    </tr>
                    <tr class="bg-muted">
                        <th scope ="col" colspan="6" class="text-dark"></th>                        
                        {% for dateBetween in dateBetweens %}
                        <th scope ="col" colspan="3" class="text-dark">
                            {% if (dateBetween.date|localizeddate('none', 'none', 'fr', null, 'd')  == 1) or  (dateBetween.date|localizeddate('none', 'none', 'fr', null, 'd')  == 15)%}
                                {{ dateBetween.date|localizeddate('none', 'none', 'fr', null, 'MMMM')|capitalize  }}
                            {% else %}                                
                            {% endif %}                            
                        {% endfor %}
                        </th> 
                    </tr>
                    <tr class ="bg-dark">
                        <th scope ="col" colspan="7" class="text-info"></th>                        
                        {% for dateBetween in dateBetweens %}
                        <th scope ="col" class="text-light">
                            {% if dateBetween.date|localizeddate('none', 'none', 'fr', null, 'e')  == 6 %}
                                S
                            {% elseif dateBetween.date|localizeddate('none', 'none', 'fr', null, 'e')  == 1 %}
                                L
                            {% elseif dateBetween.date|localizeddate('none', 'none', 'fr', null, 'e')  == 2 %}
                                M
                            {% elseif dateBetween.date|localizeddate('none', 'none', 'fr', null, 'e')  == 3 %}
                                M
                            {% elseif dateBetween.date|localizeddate('none', 'none', 'fr', null, 'e')  == 4 %}
                                J
                            {% elseif dateBetween.date|localizeddate('none', 'none', 'fr', null, 'e')  == 5 %}
                                V
                            {% else %}
                                D
                            {% endif %}
                        {% endfor %}
                        </th> 
                    </tr>
                    <tr class="bg-muted">
                        <th scope ="col" class="text-color-blue">Transmettre</th>
                        <th scope ="col" class="text-color-blue">Supprimer</th>
                        <th scope ="col" class="text-color-blue">Id</th>
                        <th scope ="col" class="text-color-blue">Nom</th>
                        <th scope ="col" class="text-color-blue">Prénom</th>
                        <th scope ="col" class="text-color-blue">NNI</th>
                        <th scope ="col" class="text-color-blue">Fonction</th>
                        {% for dateBetween in dateBetweens %}
                            <th scope ="col" class="">{{ dateBetween.date|localizeddate('none', 'none', 'fr', null, 'd') }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>  
                    {% if agentBetweens %}
                        {% for agentRow in agentBetweens %}
                            <tr>
                            {% for AgentIdentification in agentRow.0 %}
                                <td><a class="btn btn-success btn-sm" href="{{ path('sendhistoryModif', {'id': AgentIdentification.0}) }}"><i class="fas fa-check"></i> </a></td>
                                <td><a class="btn btn-danger btn-sm" href="{{ path('deleteTemp', {'id': AgentIdentification.0}) }}"><i class="fa fa-trash"></i></a></td>                                                               
                                {% for AgentIdentificationDetail in AgentIdentification %} 
                                    <td>{{ AgentIdentificationDetail }}</td>
                                {% endfor  %}
                            {% endfor  %}
                            
                            {% for agenda in agentRow.1 %}                            
                                {% if agenda %}
                                    <td id = "{{ agenda.id }}" class="editFor
                                            {% if agenda.letter.letter == 'R' %}
                                                table-success
                                            {% elseif agenda.letter.letter == 'H' %}
                                                table-danger
                                            {% else %}
                                                table-info
                                            {% endif %}
                                                ">{{ agenda.letter.letter }}
                                    </td>
                                {% else  %}
                                    <td class="editFor border border-muted"></td>
                                {% endif  %}
                            {% endfor %}                            
                            </tr>
                        {% endfor %}
                    {% endif  %}
                </tbody>                 
            </table>
        </div>
    </div>
    
    <div class="row border border-rounded my-2">
        <div class="col-md-12">        
            <h3 class="my-2 mx-2" id="titre"></h3>
            <p><ul class="list-group list-group-flush" id="description"></ul></p>
        </div>
    </div>    
    
    <div class="row border border-rounded my-2">
        <div class="col-md-12">            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">
              <i class="far fa-folder-open"></i> Voir le détail
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Détail de la saisie : </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <p class=""><span class="font-weight-bold"> Début de semaine légale : </span><span class='badge badge-secondary' id="startLegalWeek"></span></p>
                    <hr>
                    <p class=""><span class="font-weight-bold">Fin de semaine légale :  </span><span class='badge badge-secondary' id="endLegalWeek"></span></p>
                    <hr>
                    <p class=""><span class="font-weight-bold">Début de journée :  </span><span class='badge badge-secondary' id="startDay"></span></p>
                    <hr>
                    <p class=""><span class="font-weight-bold">Fin de journée :  </span><span class='badge badge-secondary' id="endDay"></span></p>
                    <hr>
                    <p class=""><span class="font-weight-bold">Heures totalisés cette semaine :  </span><span class='badge badge-secondary' id="hoursPerWeek"></span></p>
                    <hr>
                    <p class=""><span class="font-weight-bold">Temps de repos avant le jour J :  </span><span class='badge badge-secondary' id="intervalBefore"></span></p>
                    <hr>
                    <p class=""><span class="font-weight-bold">Temps de repos après le jour J :  </span><span class='badge badge-secondary' id="intervalAfter"></span></p>
                    <hr>
                    <p class=""><span class="font-weight-bold">Fin de journée de travail J-1 :  </span><span class='badge badge-secondary' id="DateTimeBefore"></span></p>
                    <hr>
                    <p class=""><span class="font-weight-bold">Début de journée de travail J+1 :  </span><span class='badge badge-secondary' id="DateTimeAfter"></span></p>
                    <hr>
                    <p class=""><span class="font-weight-bold">Nombre d'heure moyen / semaine :  </span><span class='badge badge-secondary' id="average"></span></p>   
                  </div>                    
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer la fenêtre</button>                   
                  </div>
                </div>
              </div>
            </div>  
    </div>
           {# {% for dateBetween in dateBetweens %}
                <th class="">{{dateBetween.date | date("F jS \\a\\t g:ia", "Europe/Paris") }}</th>
                {% endfor %}
            #}
</div> 
{% endblock %}


{% block javascripts %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/sl-1.2.6/datatables.min.js"></script>
<script type="text/javascript" src="/assets/js/datatable/configAgendaTemp.js"></script>
<script type="text/javascript" src="/assets/js/datatable/ajax.js"></script>
{% endblock %}
