{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Welcome!{% endblock %}

{% block body %}   
    <div class="container">
        <h1>Créer une nouvelle lettre</h1>       
        <div class="form-group mb-2">
        {{ form_start(form) }}
        {{ form_row(form.letter, {'label': 'Lettre', 'attr' : {'placeholder':'Entrez une lettre ...' }}) }}
        {{ form_row(form.startTime, {'label': 'Heure de début', 'attr' : {'placeholder':'format hh:mm' }}) }}
        {{ form_row(form.endTime, {'label': 'Heure de fin', 'attr' : {'placeholder':'format hh.mm' }}) }}
        {{ form_row(form.effectiveDuration, {'label': 'Duréee effective', 'attr' : {'placeholder':'format (hh.mm)' }}) }}        
        {{ form_rest(form) }}
        {{ form_end(form) }}
        </div>     
    </div> 
{% endblock %}


{% block javascripts %}
{% endblock %}
    

