{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Welcome!{% endblock %}

{% block body %}   
    <div class="container">
        <h1>Créer un nouvel evenement</h1>
        <form action="{{ path('createEvent') }}" method="post">
            <div class="form-group mb-2">
            {{ form_start(form) }}
            {{ form_row(form.code, {'label': 'Code d\'arrêt', 'attr' : {'placeholder':'Entrez une code d\'arrêt ...' }}) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
            </div
        </form>
    </div> 
{% endblock %}


{% block javascripts %}

{% endblock %}
    

