{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block title %}Welcome!{% endblock %}

{% block body %}   
    <div class="container">       
        <h1>Modifier l'evenement</h1>
        <form action="{{ path('editEvent', { 'id': event.id }) }}" method="post" class="form-inline">
            <div class="form-group mb-2">
            {{ form_start(form) }}           
            {{ form_widget(form) }}                         
            {{ form_rest(form) }}
            {{ form_end(form) }}
            </div            
        </form>
    </div> 
{% endblock %}


{% block javascripts %}

{% endblock %}
    

