
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/sl-1.2.6/datatables.min.css"/>
{% endblock %}
{% block title %}Welcome!{% endblock %}

{% block body %}   
    <div class="container">       
        <h1>Créer un nouvel utilisteur</h1>        
        <div class="form-group mb-2">
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <button type="submit">Register!</button>
        {{ form_end(form) }}
    </div> 
{% endblock %}

{% block javascripts %}
{% endblock %}
